body {
  font-family: Amiko, sans-serif;
}

i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: lightgray;
}

.offcanvas-header {
  background-color: tan;
}

.offcanvas-body {
  background-color: tan;
}

.offcanvas-footer {
  padding: 1rem;
  background-color: tan;
}

.nav-links > a {
  color: black;
  text-decoration: none;
}

a > h2 {
  margin-bottom: 2rem;
}
